body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: normal;
	background-color: #f0f0f0;
}
.page {
	border-radius: 4vw 4vw 0 0;
	margin: 8vh 20vw 0 20vw;
	min-height: 92vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	box-shadow: 1px -23px 64px 3px #b3b3b3;
}

@media only screen and (max-width: 992px) {
	.page {
		border-radius: 4vw 4vw 0 0;
		margin: 8vh 8vw 0 8vw;
	}
}
